@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #629acb 0%, #3e2791 100%);
  background-repeat: no-repeat;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.content {
  background: white;
  height: 100%;
  width: min(80%, 800px);
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 35px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}
p {
  margin-bottom: 40px;
}
.img {
  width: min(80%, 300px);
  margin-bottom: 40px;
}
div.img > img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
span {
  font-weight: 500;
  color: #3e2791;
}
a {
  text-decoration: none;
  cursor: default;
  font-weight: 500;
}
.span-red {
  color: red;
}
.span-green {
  color: rgb(13, 171, 13);
}
a.flor {
  display: flex;
  text-align: center;
}
